
    <% @chatroom.each do |chatroom| %>
    <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="justify-content-start">
          <h3><%= link_to chatroom.title, chatroom_path(chatroom) %> </h3>
        </div>
        <div class = "justify-content-end" >
          <span class="badge badge-primary badge-pill">14 Online</span>
        </div>
      </div>
      <small>Created <%= time_ago_in_words(chatroom.created_at) %> ago</small>
    </div>
    </div>
    <br>
  <% end %>





 

  